<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact Details</title>
</head>
<body>
    <h1> My contact details</h1> <hr>
    <p>Phone number : 9268404758</p>
    <p>Email id: piyush60629@gmail.com</p>
    <p>Address : 20382/232 dudueueefe</p>
    <hr>
    <form action="mailto:piyush60629@gmail.com" method="post" enctype="text/plain">
        <label> Your name: </label>
        <input type="text" name="yourname" value=""><br>
        <label>Email id :</label>
        <input type="email" name="youremail" value=""><br>
        <label>Enter message:</label><br>
        <textarea name="yourmessage" cols="30" rows="10"></textarea><br>
        <input type="submit" name="">    
    </form>
</body>
</html>