<html>
<head>   
<title>Holidify Review Extracting</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="icon" href="favicon.ico">
<link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
</head> 

<body>
    <div class="top-container">
        <h1><em> Extract Reviews.</em></h1>
        <h2>From <span class="pro">Holidify </span>Website.</h2>
    </div>    
    <hr>
    <div class="content">
        <h1 style="text-align: center">Search any place that you love..</h1>

        <div class="form">
            <form action="/" method="POST">
                <input type="text" name="content" id="content">
                <input type="submit" value="Search">
            </form>
        </div>
        <hr>
        <div class="contact-me">
            <h2>Get In Touch</h2>
            <p class="contact-message">Let's visit places.</p>
            <a class="btn" href="contactme.html">CONTACT ME</a>
        </div>
    </div>
</body>
</html>
